*{   
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

html,
body {
background-color: #efefef;
        color:#f5f5f5;
        font-family: 'Rakkas', cursive,'Amiri', serif;
        font-weight: 300;
        font-size: 20px;
        text-rendering: optimizeLegibility;
        overflow-x: hidden;
    }



/* ----------------- REUSABLE COMPONENTS-------------------------- */




.row{
     max-width: 1500px;
        margin: 0px 0px;     }

col {
	display: block;
	margin:  -1px -1px;
}
section{
    background-color: #f5f5f5;
    height: 100vh;
}

/*------------------------- HEADER -------------------------- */

header{ 
   background-color: #f5f5f5;
	height: 100vh;
	text-align: center;
    

}
.header-background{
    background-image:linear-gradient(rgba(41, 35, 35, 0.85),rgba(41, 35, 35, 0.92)),url(img/BC.png);
    background-size: cover;
    background-position: center;    
    height: 100vh; 
	padding: 20px;
	width: 100%;
    height: 100%;
}

.artist-name{
	padding-top: 150px;
	font-size: 30px;
}

nav{
margin-left: 400px;

}

a:link,
a:visited{
        color: #f7484e;
        text-decoration: none;
        padding-bottom: 1px;
       
        transition: border-bottom 0.2s, color 0.2s; 
    }

a:hover,
a:active{
	   border-bottom: 2px solid #ffffff;
    }
	
.nav li { 
	align-content: center;
	margin-left: 50px;
	width: 50px;
	float:left;
	padding-top: 150px;
	text-decoration: none;
	list-style: none;	
}


/*------------------------- section about -------------------------- */

.red_side_right{
	position: relative;
	z-index: 10;
	float: right;
	width: 50%;
	height: 100%;
	background-color:#f7484e;
	color: #f5f5f5;
	text-decoration: none;
	text-align:center;
}
.red_side_right p{
	padding: 150px 10px;
    font-size:100px;
}

.Artist-photo{
	height: 100px;
    width: 100px;
     border-image:black;
    z-index: 100;
    opacity: ;
	top: 50px;
	right: -50px; 
	position: relative;
	 visibility: show;
}

.info_side_about{
	color: black;
	text-align: center;
    
}

.info_side_about  h1{
    font-family: 'Amiri';
    font-size: 20px;	
}
.info_side_about p{
	margin: 20px 50px;
    font-family: 'Amiri';
    font-size: 15px;
}

/*------------------------- section work -------------------------- */

.red_side_left{
position: relative;
	z-index: 10;
	float: left;
	margin: 0px;
	width:50%;
	height: 100%;
	background-color:#f7484e;
	color: #f5f5f5;
	text-decoration: none;
	text-align:center;
}

/* --painting-- */

.work-showcase {
 position: absolute;
    display:block;
    float: left;
	z-index: 10;
    list-style: none;
    width:50%;
	height:100%;
    background-color: #000;

}

.work-showcase li {
    position: relative;
    width:25%;
	height:25%;
    display:block;
    float: left;
    margin: 0px;
    overflow: hidden;
}

.red_side_left p{
	padding: 150px 30px;
    font-size:100px;
}

.Artist-painting {
    overflow: hidden;
    background-color: rgba(41, 35, 35, 0.92);
}

.Artist-painting img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transition:opacity 0.5s, -webkit-transform 0.5s;
    transition:opacity 0.5s, -webkit-transform 0.5s;
    transition:transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.Artist-painting img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
/*-----------form-------*/

.section-form{
    padding: 0px 0px;
    margin: 0px 0px;
    height: 50%;
    color: #7c7c7c;
}
.row h4{
    text-align: center;
    font-size: 30px;
}

.form-box-background{
	margin: 30px 30px;
	border-radius: 5px;
	background-color: #ffffff;
    border-radius: 5px;
	
}


 .contact-form{
        width: 60%;
        margin: 0 auto;
    }

input[type=text],
input[type=email],
select,
textarea{
        width: 100%;
        padding: 7px;
        border-radius: 3px;
        border: 1px solid #ccc;
    
    }
textarea{
        height: 50px;
    }
    *:focus{outline: none;}


/*--------footer----------------*/

footer{
        background-color: #676262;
        font-size: 80%;
    
}


    .social-links{
        list-style: none;
padding-top: 20px;
    }

    .social-links li{
        display: inline-block;
        margin-right: 20px;
    }
    .social-links li:last-child{
        margin-right: 0;
    }

    .social-links li a:link,
    .social-links li a:visited{
        text-decoration: none;
        border: 0;
        color: #f5f5f5;
    }

    .social-links li a:link,
    .social-links li a:visited{
    font-size: 160%;

    }

.ion-social-facebook-outline,
.ion-social-twitter-outline,
.ion-social-instagram-outline{
size:20px;
    }


.ion-social-facebook-outline:hover{
        color: #3b5998;
    }

.ion-social-twitter-outline:hover{
        color: #55acee;
    }
.ion-social-instagram-outline:hover{
        color: #125688;
    }

footer p{
        color: #f5f5f5;
        text-align: center;
        font-size: 90%;
        margin-top: 10px;
    font-family: serif;
}

footer ul{
            text-align: center;

}
